#display-box{
  visibility: hidden;
  display: flex;
  justify-content: center;
  margin: 60px auto;
  border: 2px solid rgba(0, 0, 0, 0.5);
  max-width: 600px;
  padding: 20px;
  box-shadow: 10px 10px 8px #888888;
}

#search-box{
      display: flex;
    justify-content: center;
padding-top: 35px;
    height: 66px;
}

#text {
  padding-left: 8px;
}
